<h1>{{title}}</h1>

<button (click) = removeAll()>Tout effacer!</button><br>

<h2>Créer des utilisateurs</h2>
Nombre : <input type="number" [(ngModel)]='nbUsers'>
<button (click) = addMultipleUsers()>Go!</button>
<div *ngIf ="timeCreated" >
  <p>Pseudo(s) par défaut créé(s)! ex: user0</p>
</div>

<h2>Ecrire un tweet</h2>
Pseudo : <input type="text" [(ngModel)]='pseudoWT'><br>
Message : <input type="text" [(ngModel)]='msgBody'><br>
Nombre de fois : <input type="text" [(ngModel)]='nbMsgWrite'>
<button (click) = writeMultipleTweet()>Go!</button>
<div *ngIf ="timeWriten">
  <p>Temps d'éxecution : {{timeWriten}} ms</p>
  <h3>Ajouter un Tag au(x) tweet(s)</h3>
  Tag : <input type = "text" [(ngModel)]='tag'>
  <button (click)="addTag()">Go!</button>
</div>

<!-- A faire à partir d'ici -->

<h2> Suivre / Se faire suivre </h2>
Pseudo : <input type="text" [(ngModel)]='pseudoFollow'><br>
Pseudo de la personne à suivre : <input type="text" [(ngModel)]='pseudoToFollow'>
<button (click)=follow()>Go!</button><br>
<p *ngIf = "timeFollow">Temps d'execution : {{timeFollow}} ms</p>
Suivre un nombre de personne au hasard : <input type="number" [(ngModel)]='randomNumber'>
<button (click)=randomFollow()>Go!</button><br>
Gagner un nombre de followers au hasard : <input type="number" [(ngModel)]='randomWinNumber'>
<button (click)= winRandomFollowers()>Go!</button>

<h2>Afficher la Timeline</h2>
Pseudo : <input type="text" [(ngModel)]='pseudoGT'><br>
Nombre de messages : <input type="number" [(ngModel)]='nbMsgTimeline'>
<button (click) = printTimeline()>Go!</button><br>
<div *ngIf = "timelinePrinted"> 
    <p>Temps d'execution : {{timelinePrinted}} ms </p>
    <div *ngFor = "let tweet of timeline">
        <hr width="100%">
        <p> id : {{tweet.id}}</p>
        <p> message : {{tweet.body}}</p>
        <p> pseudo : {{tweet.sender}}</p>
        <p> date : {{tweet.date}}</p>
    </div>
</div>

<h2>Chercher des tweets par Tag</h2>
Tag : <input type="text" [(ngModel)]='searchTag'><br>
Nombre de messages : <input type="number" [(ngModel)]='nbMsgTimelinebyTag'>
<button (click) = printTimelineByTag()>Go!</button><br>
<div *ngIf = "timelinePrintedByTag"> 
    <p>Temps d'execution : {{timelinePrintedByTag}} ms </p>
    <div *ngFor = "let tweet of timelineByTag">
        <hr width="100%">
        <p> id : {{tweet.id}}</p>
        <p> message : {{tweet.body}}</p>
        <p> pseudo : {{tweet.sender}}</p>
        <p> date : {{tweet.date}}</p>
    </div>
</div>

<h2>Afficher les utilisateurs</h2>
<button (click) = getUsers()>Go!</button><br>
<div *ngIf = "timePrinted"> 
  <p>Temps d'execution : {{timePrinted}} ms </p>
  <div *ngFor = "let pseudo of pseudoList">
      <p>{{pseudo}}</p>
  </div>
</div>


